@import "tailwindcss";
@plugin "daisyui" {
    themes: caramellatte --default;
}

.yes {
    background-color: #77DD77;
}

.otw {
    background-color: #FFFAA0;
}

.no {
    background-color: #FF5757;
}

